BASE_URL=http://localhost:8080
DATABASE_URL=

RESEND_API_KEY=
SENDER_EMAIL=

LIMEN_SECRET=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_CALLBACK_URI=http://localhost:8080/auth/oauth/jasperlabs/callback